<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Abot" version="2.0.70" targetFramework="net462" />
  <package id="AngleSharp" version="0.14.0" targetFramework="net462" />
  <package id="Microsoft.CSharp" version="4.7.0" targetFramework="net461" />
  <package id="NRobotsCore" version="1.1.3" targetFramework="net462" />
  <package id="Serilog" version="2.10.0" targetFramework="net462" />
  <package id="Serilog.Enrichers.Thread" version="3.1.0" targetFramework="net461" />
  <package id="Serilog.Sinks.Console" version="3.1.1" targetFramework="net461" />
  <package id="System.Runtime.CompilerServices.Unsafe" version="4.5.0" targetFramework="net461" />
  <package id="System.Text.Encoding.CodePages" version="4.5.0" targetFramework="net461" />
</packages>